<div class="main">
    <div class="LandingNav">
        <h1 class="display-4" id="LandingWelcome">Welcome Vexillologists</h1>
        <div>
            <a href="Login">Log in</a> <a href="Register">Create Account</a>
        </div>
    </div>
    <div class="kiribati-float">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Flag_of_Kiribati.svg/1200px-Flag_of_Kiribati.svg.png"
            alt="Kiribati.png">
        <p
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Kiribati flag...It's calling your name</p>
    </div>
    <div class="seychelles-float">
        <p
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Seychelles? Seychelles.</p>
        <img src="https://cdn.britannica.com/93/4093-004-A9F95AC3/Flag-Seychelles.jpg" alt="Seychelles">
    </div>
    <div class="map">
        @await Html.PartialAsync("_Map")
    </div>
</div>
