@model User
<div class=" text-center d-flex justify-content-center">
  <div id="Reg" class="flex-1 mb-2">
    <h1>Register</h1>
    <form asp-action="CreateUser" asp-controller="Home" method="post">
      <div class=" mb-2">
        <label asp-for="Username">Name</label>
        <input asp-for="Username" class="form-control">
        <span asp-validation-for="Username"></span>
      </div>
      <div class=" mb-2">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span>
      </div>
      <div class=" mb-2">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password"></span>
      </div>
      <div class=" mb-2">
        <label asp-for="Confirm">Confirm Password</label>
        <input asp-for="Confirm" class="form-control">
        <span asp-validation-for="Confirm"></span>
      </div>
      <br>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
  <div class="FlagForLoginReg2">

  </div>
</div>